/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff77a9, #ff4d6e); /* Baby pink to red gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    overflow: hidden;
}

#login-container {
    text-align: center;
    background: #000000b0; /* Semi-transparent black */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-out;
}

#login-container input {
    padding: 12px;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
    width: 80%;
    background-color: #ff4d6e;
    color: white;
    font-size: 16px;
}

#login-container button {
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background-color: #ff77a9;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

#login-container button:hover {
    transform: scale(1.05);
}

#private-content {
    text-align: center;
    background: #000000b0;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-out;
    opacity: 0;
    animation: fadeInText 2s forwards;
}

#wife {
    color: #ffdf00; /* Gold color for 'W
    
